{% extends "base.html" %}
{% load static %}

{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'css/apply.css' %}" /> 
<script type="text/javascript" src="{% static 'js/apply.js' %}"></script>
{% endblock additionalStyles %}

{% block content %}
<div class="application-container">
    <h1 class="title">Applying for "{{ job.name }}" with {{ job.company }}</h1>
    <div class="application-main">
        <div class="black_block">
            <div class="progress_header">
                <div class="apply-list"><button onclick="goTo('cover-letter')" class="page_select_button selected-button" id="prog_1">General</button></div>
                <div class="apply-list"><button onclick="goTo('experience')" class="page_select_button" id="prog_2">Experience</button></div>
                <div class="apply-list"><button onclick="goTo('education')" class="page_select_button" id="prog_3">Education</button></div>
                <div class="apply-list"><button onclick="goTo('reference')" class="page_select_button" id="prog_4">References</button></div>
                <div class="apply-list"><button onclick="goTo('skill')" class="page_select_button" id="prog_5">Skills</button></div>
                <div class="apply-list"><button onclick="goTo('final_review')" class="page_select_button" id="prog_6">Final Review</button></div>
            </div>
            <div id="cover-letter" >{% include 'applicant/application/cover-letter.html' %}</div>
            <div id="experience" class="hidden">{% include 'applicant/application/experience.html' %}</div>
            <div id="education" class="hidden">{% include 'applicant/application/education.html' %}</div>
            <div id="reference" class="hidden">{% include 'applicant/application/reference.html' %}</div>
            <div id="skill" class="hidden">{% include 'applicant/application/skill.html' %}</div>
            <div id="final_review" class="hidden">{% include 'applicant/application/final_review.html' %}</div>
        </div>
    </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", goTo("{{ page }}")) 
</script>
{% endblock %}
