{% extends "base.html" %}
{% load static %}

    {% block additionalStyles %}
<link rel="stylesheet" href="{% static 'css/apply.css' %}" /> 
<script type="text/javascript" src="{% static 'js/apply.js' %}"></script>
{% endblock additionalStyles %}

{% block content %}
<div class="application-container">
    <h1>Applying for "{{ job.name }}" with {{ job.company }}</h1>
    <div class="application-main">
        <div class="contact-info">
            <div class="image-container">
                <img src="{{ applicant.profile_image }}" class="profile-image"/>
            </div>
            <div class="left-info">
                <p class="left-info-name">{{ applicant.full_name }}</p>
                <p>{{ applicant.email }}</p>
                <p>{{ applicant.phone }}</p>
                <p>{{  applicant.zipcode.city.country }} - {{  applicant.zipcode }}</p>
                <p>{{ applicant.address }}</p>
            </div>
        </div>
        <div class="black_block">
            <div class="progress_header">
                <div><p>General</p></div>
                <div><p>Experience</p></div>
                <div><p>Education</p></div>
                <div><p>References</p></div>
                <div><p>Skills</p></div>
                <div><p>Final Review</p></div>
            </div><br>
            <div id="cover-letter">{% include 'applicant/application/cover-letter.html' %}</div>
            <div id="experience" class="hidden">{% include 'applicant/application/experience.html' %}</div>
            <div id="education" class="hidden">{% include 'applicant/application/education.html' %}</div>
            <div id="reference" class="hidden">{% include 'applicant/application/reference.html' %}</div>
            <div id="skill" class="hidden">{% include 'applicant/application/skill.html' %}</div>
            <div id="final_review" class="hidden">{% include 'applicant/application/final_review.html' %}</div>
            <div id="success_message" class="hidden">{% include 'applicant/application/success_message.html' %}</div>
            <div id="failed_message" class="hidden">{% include 'applicant/application/failed_message.html' %}</div>
        </div>
    </div>
</div>
{% endblock %}
