{% extends "base.html" %}
{% load static %}

{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'css/apply.css' %}" /> 
<script type="text/javascript" src="{% static 'js/apply.js' %}"></script>
{% endblock additionalStyles %}

{% block content %}
    <h1>Applying for "{{ job.name }}" with {{ job.company }}</h1><br>
    <div style="position: relative; display: flex; height: 100%;">
        <div style="flex-direction: row; height: 100%" class="contact-info">
            <img src="{{ applicant.profile_image }}" class="profile-image"/>
            <p style="font-size: 1.2rem">{{ applicant.full_name }}</p>
            <p style="font-size: 0.8rem">{{ applicant.email }}</p>
            <p style="font-size: 0.8rem">{{ applicant.phone }}</p>
            <p style="font-size: 0.8rem">{{  applicant.zipcode.city.country }} - {{  applicant.zipcode }}</p>
            <p style="font-size: 0.8rem">{{ applicant.address }}</p>
        </div>
        <div class="black_block" style="width:75%; height: 60vh;">
            <div class="progress_header">
                <div><p>Cover Letter</p></div>
                <div><p>Experience</p></div>
                <div><p>Education</p></div>
                <div><p>References</p></div>
                <div><p>Skills</p></div>
                <div><p>Final Review</p></div>
            </div><br>
            <div id="contact-info">{% include 'applicant/application/contact_info.html' %}</div>
            <div id="experience" class="hidden">{% include 'applicant/application/experience.html' %}</div>
            <div id="education" class="hidden">{% include 'applicant/application/education.html' %}</div>
            <div id="reference" class="hidden">{% include 'applicant/application/reference.html' %}</div>
            <div id="skill" class="hidden">{% include 'applicant/application/skill.html' %}</div>
            <div id="final_review" class="hidden">{% include 'applicant/application/final_review.html' %}</div>
            <div id="success_message" class="hidden">{% include 'applicant/application/success_message.html' %}</div>
            <div id="failed_message" class="hidden">{% include 'applicant/application/failed_message.html' %}</div>
        </div>
    </div>
{% endblock %}