{% load static %}
<div class="white_block hidden" id="experience/new">
    <form class="form form-horizontal" method="post" action="/applicants/application/experience_add/{{ job.id }}">
        {% csrf_token %}
        <div class="btn-container">
            <input type="submit" class="edit-button" value="Add" />
        </div>
        <div class="horizontal-input">
            <div class="profile-data-block">
                <p class="profile-data-label">Company</p>
                <input type="text" name="workplace_name" class="profile-data-input form-control" required id="id_workplace_name">
            </div>
            <div class="profile-data-block">
                <p class="profile-data-label">Role</p>
                <input type="text" name="role" class="profile-data-input form-control" required id="id_role">
            </div>
        </div>

        <div class="horizontal-input">
            <div class="profile-data-block">
                <p class="profile-data-label">Start Date</p>
                <input type="date" name="start_date" class="profile-data-input form-control" required id="id_start_date">
            </div>
            <div class="profile-data-block">
                <p class="profile-data-label">End Date</p>
                <input type="date" name="end_date" class="profile-data-input form-control" id="id_end_date">
            </div>
        </div>

        <div style="overflow: hidden">
            <p class="profile-data-label">Description</p>
            <textarea name="description" id="id_description" class="profile-data-input bio-input form-control"></textarea>
        </div>
    </form>
</div>
