{% load static %}
<form id="apply" method="post" action="/applicants/application/apply/{{ application.id }}">
    {% csrf_token %}
    <div class="control">
        <div></div>
        <h2 class="CV-block-title">Final CV Review</h2>
        <button type="submit" class="next_prev_button">APPLY</button>
    </div>
    <input type="hidden" name="application_id" value="{{ application.id }}">
</form>
<div class="section-container">

    <div class="review-section">

        <h2 class="CV-block-title">Experience</h2>
        {% if not experiences %}
        <div class="white_block">
            <h3>No registered experience history</h3>
        </div>
        {% else %}
        {% for experience in experiences %}
        {% include 'applicant/application/review/experience.html' %}
        {% endfor %}
        {% endif %}
    </div>

    <div class="review-section">
        <h2 class="CV-block-title">Education</h2>
        {% if not educations %}
        <div class="white_block">
            <h3>No registered education history</h3>
        </div>
        {% else %} 
        {% for education in educations %}
        {% include 'applicant/application/review/education.html' %}
        {% endfor %}
        {% endif %}
    </div>
    <div class="review-section">
        <h2 class="CV-block-title">References</h2>
        {% if not references %}
        <div class="white_block">
            <h3>No registered references</h3>
        </div>
        {% else %}
        {% for reference in references %}
        {% include 'applicant/application/review/reference.html' %}
        {% endfor %}
        {% endif %}
    </div>

    <div class="review-section">
        <h2 class="CV-block-title">Skills</h2>
        {% include 'applicant/application/review/skill.html' %}
    </div>

    <div class="review-section">
        <h2 class="CV-block-title">Cover Letter</h2>
        <div class="white_block">
            <p>{{ application.cover_letter }}</p>
        </div>
    </div>
</div>
