{% load static %}
<h2 class="CV-block-title">Skills & Languages</h2>
<button onclick="toggleAddReference()" class="add">+</button>
<button onclick="goTo('final_review')" class="next_prev_button" style="left: 90%">next</button>
<button onclick="goTo('reference')" class="next_prev_button">prev</button>

<div class="black_block" id="skills/edit">
    {% for genre, skills in applicant_skills.items %}
        <div class="black_block_white_subsection">
            <h3>{{ genre }}</h3>
            {% for skill in skills %}
                <div class="skill_selection">
                    <input type="image" id="remove-skill" onclick="removeSkill({{ skill.skill_id }})" class="delete-skill" src="{% static 'images/remove_X.png' %}">
                    <h4>{{ skill }}</h4>
                </div>
            {% endfor %}
            <div class="new_skill">
                <form class="form form-horizontal" method="post" action="applicant/add_skill">
                    {% csrf_token %}
                    <input type="submit" id="add_skill_select" class="add_skill" src="{% static 'images/plus_icon.png' %}">
                    <select name="{{ genre.name }}" class="skill-select" required id="id_skill">
                        <option value=""></option>
                        {% for all_genre, all_skill in all_skills.items %}
                            {% if all_genre == genre %}
                                {% for a_skill in all_skill %}
                                    <option value="{{ a_skill }}">{{ a_skill.name }}</option>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
