{% extends "base.html" %}
{% load static %}

{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'css/apply.css' %}" /> 
<script type="text/javascript" src="{% static 'js/apply.js' %}"></script>
{% endblock additionalStyles %}

{% block content %}
<div class="successful-message-container">
    <img src="{% static 'images/success_message.png' %}">
    <h1>Application Success!</h1>
    <h2>You applied for "{{ job_name }}" with {{ company_name }}</h2>
</div>
{% endblock %}