{% extends 'base.html' %}
{% load static %}

{% block additionalStyles %}
    {{ block.super }}
    <meta name="test" content="should work">
<!-- <link rel="stylesheet" href="{% static 'css/apply.css' %}" />  -->
<!-- <script type="text/javascript" src="{% static 'js/apply.js' %}"></script> -->
{% endblock %}

{% block content %}
    <img src="{% static 'images/success_message.png' %}">
    <h1>Application Success!</h1>
    <h2>for "{{ job_name }}" with {{ company_name }}</h2><br>
{% endblock %}
