{% extends "base.html" %}
{% load static %}

{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" /> 
<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock additionalStyles %}

{% block content %}
    <h1>{{ applicant.full_name }}'s Virtual CV </h1><br>
    <div id="view-profile">

        <img src="{{ applicant.profile_image }}" class="profile-image"/>
        <div class="contact-info">
            <h3 style="display: inline-block">Contact Information</h3>
            <button onclick="toggleEditMode()" class="edit-button">edit</button>
            <br>
            <div class="profile-data-block" style="margin-right: 10%">
                <p class="profile-data-label">Full name</p>
                <p class="profile-data">{{ applicant.full_name }}</p>
            </div>
            <div class="profile-data-block">
                <p class="profile-data-label">Country</p>
                <p class="profile-data">{{ applicant.zipcode.city.country}}</p>
            </div>

            <div class="profile-data-block" style="margin-right: 10%">
                <p class="profile-data-label">Email</p>
                <p class="profile-data">{{ applicant.email }}</p>
            </div>
            <div class="profile-data-block">
                <p class="profile-data-label">City, zipcode</p>
                <p class="profile-data">{{ applicant.zipcode }}</p>
            </div>

            <div class="profile-data-block" style="margin-right: 10%">
                <p class="profile-data-label">Phone number</p>
                <p class="profile-data">{{ applicant.phone }}</p>
            </div>
            <div class="profile-data-block">
                <p class="profile-data-label">Address</p>
                <p class="profile-data">{{ applicant.address }}</p>
            </div>

            <div style="overflow: hidden">
                <p class="profile-data-label">Bio</p>
                <br>
                <p class="profile-data bio">{{ applicant.bio }}</p>
            </div>
        </div>

        <h2 class="CV-block-title">Experience</h2>
        <div class="contact-info CV-block">
            <button onclick="toggleEditMode()" class="edit-button add">add</button>
            <button onclick="toggleEditMode()" class="edit-button">edit</button>
            <br>
            <div class="profile-data-block" style="margin-right: 5%; width: 25%">
                <p class="profile-data-label">Company</p>
                <p class="profile-data">{{ applicant.full_name }}</p>
            </div>
            <div class="profile-data-block" style="margin-right: 5%; width: 25%">
                <p class="profile-data-label">Role</p>
                <p class="profile-data">{{ applicant.full_name}}</p>
            </div>
            <div class="profile-data-block" style="margin-right: 5%; width: 15%">
                <p class="profile-data-label">Start date</p>
                <p class="profile-data">{{ applicant.full_name }}</p>
            </div>
            <div class="profile-data-block" style="width: 15%">
                <p class="profile-data-label">End date</p>
                <p class="profile-data">{{ applicant.full_name }}</p>
            </div>

            <div style="overflow: hidden">
                <p class="profile-data-label">Job description</p>
                <br>
                <p class="profile-data bio">{{ applicant.bio }}</p>
            </div>
        </div>

        <h2 class="CV-block-title">Education</h2>
        <div class="contact-info CV-block">
            <button onclick="toggleEditMode()" class="edit-button add">add</button>
            <button onclick="toggleEditMode()" class="edit-button">edit</button>
            <br>
            <div class="profile-data-block" style="margin-right: 5%; width: 25%">
                <p class="profile-data-label">School</p>
                <p class="profile-data">{{ applicant.full_name }}</p>
            </div>
            <div class="profile-data-block" style="margin-right: 5%; width: 25%">
                <p class="profile-data-label">Degree</p>
                <p class="profile-data">{{ applicant.full_name}}</p>
            </div>
            <div class="profile-data-block" style="margin-right: 5%; width: 15%">
                <p class="profile-data-label">Level</p>
                <p class="profile-data">{{ applicant.full_name }}</p>
            </div>
            <div class="profile-data-block" style="margin-right: 5%; width: 15%">
                <p class="profile-data-label">Start date</p>
                <p class="profile-data">{{ applicant.full_name }}</p>
            </div>
            <div class="profile-data-block" style="width: 15%">
                <p class="profile-data-label">End date</p>
                <p class="profile-data">{{ applicant.full_name }}</p>
            </div>

            <div style="overflow: hidden">
                <p class="profile-data-label">Degree description</p>
                <br>
                <p class="profile-data bio">{{ applicant.bio }}</p>
            </div>
        </div>

        <h2 class="CV-block-title">References</h2>
        <div class="contact-info CV-block">
            <button onclick="toggleEditMode()" class="edit-button add">add</button>
            <button onclick="toggleEditMode()" class="edit-button">edit</button>
            <br>
            <div class="profile-data-block" style="margin-right: 5%; width: 25%">
                <p class="profile-data-label">Full name</p>
                <p class="profile-data">{{ applicant.full_name }}</p>
            </div>
            <div class="profile-data-block" style="margin-right: 5%; width: 25%">
                <p class="profile-data-label">Company</p>
                <p class="profile-data">{{ applicant.full_name}}</p>
            </div>
            <div class="profile-data-block" style="width: 25%">
                <p class="profile-data-label">Role</p>
                <p class="profile-data">{{ applicant.full_name }}</p>
            </div>
            <div class="profile-data-block" style="margin-right: 5%; width: 25%">
                <p class="profile-data-label">Email</p>
                <p class="profile-data">{{ applicant.full_name }}</p>
            </div>
            <div class="profile-data-block" style="margin-right: 2%; width: 20%">
                <p class="profile-data-label">Phone</p>
                <p class="profile-data">{{ applicant.full_name }}</p>
            </div>
            <div class="profile-data-block">
                <input type="checkbox" id="contactable">
                <p style="display: inline-block">Ask me before contacting</p>
            </div>
        </div>

    </div>
    <div id="edit-profile" class="hidden">

        <img src="{{ applicant.profile_image }}" class="profile-image"/>
        <div class="contact-info">
            <form class="form form-horizontal" method="post">
                {% csrf_token %}
                <h3 style="display: inline-block">Contact Information</h3>
                <input type="submit" class="edit-button" value="Update" />
                <br>
                <div class="profile-data-block" style="margin-right: 10%">
                    <p class="profile-data-label">Full name</p><br>
                    <input type="text" name="full_name" class="profile-data-input" value="{{ applicant.full_name }}" required id="id_full_name">
                </div>
                <div class="profile-data-block">
                    <p class="profile-data-label">Profile Picture</p><br>
                    <input type="text" name="profile_image" class="profile-data-input form-control" value="{{ applicant.profile_image }}" required id="id_profile_image">
                </div>

                <div class="profile-data-block" style="margin-right: 10%">
                    <p class="profile-data-label">Email</p><br>
                    <input type="text" name="email" class="profile-data-input" value="{{ applicant.email }}" required id="id_email">
                </div>
                <div class="profile-data-block">
                    <p class="profile-data-label">City, zipcode</p><br>
                    <select name="zipcode" class="profile-data-select" required id="id_zipcode">
                        {% for option in zip_options %}
                            <option value="{{ option.city }}">{{ option.zip }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="profile-data-block" style="margin-right: 10%">
                    <p class="profile-data-label">Phone number</p><br>
                    <input type="text" name="phone" class="profile-data-input" value="{{ applicant.phone }}" required id="id_phone">
                </div>
                <div class="profile-data-block">
                    <p class="profile-data-label">Address</p><br>
                    <input type="text" name="address" class="profile-data-input" value="{{ applicant.address }}" required id="id_address">
                </div>

                <div style="overflow: hidden">
                    <p class="profile-data-label">Bio</p><br>
                    <input type="text" name="bio" class="profile-data-input bio-input" value="{{ applicant.bio }}" required id="id_bio">
                </div>
            </form>
        </div>
    </div>

{% endblock %}
