{% extends "base.html" %}
{% load static %}

{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" /> 
<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock additionalStyles %}

{% block content %}
    <h1>{{ applicant.full_name }}'s Virtual CV </h1><br>
    
    <img src="{{ applicant.profile_image }}" class="profile-image"/>
    {% include 'applicant/VirtualCV/contact_info_view.html' %}
    {% include 'applicant/VirtualCV/contact_info_edit.html' %}
    
    <h2 class="CV-block-title">Experience</h2>
    <button onclick="toggleAddExperience()" class="add">+</button>
    {% include 'applicant/VirtualCV/experience_new.html' %}
    {% if not experiences %}
        <div class="black_block">
            <h3>No registered experience history</h3>
        </div>
    {% else %}
        {% for experience in experiences %}
            {% include 'applicant/VirtualCV/experience_view.html' %}
            {% include 'applicant/VirtualCV/experience_edit.html' %}
        {% endfor %}
    {% endif %}

    <h2 class="CV-block-title">Education</h2>
    <button onclick="toggleAddEducation()" class="edit-button add">+</button>
    {% include 'applicant/VirtualCV/education_new.html' %}
    {% if not educations %}
        <div class="black_block">
            <h3>No registered education history</h3>
        </div>
    {% else %} 
        {% for education in educations %}
            {% include 'applicant/VirtualCV/education_view.html' %}
            {% include 'applicant/VirtualCV/education_edit.html' %}
        {% endfor %}
    {% endif %}
    
    <h2 class="CV-block-title">References</h2>
    <button onclick="toggleAddReference()" class="edit-button add">+</button>
    {% include 'applicant/VirtualCV/reference_new.html' %}
    {% if not references %}
        <div class="black_block">
            <h3>No registered references</h3>
        </div>
    {% else %}
        {% for reference in references %}
            {% include 'applicant/VirtualCV/reference_view.html' %}
            {% include 'applicant/VirtualCV/reference_edit.html' %}
        {% endfor %}
    {% endif %}
    
    <h2 class="CV-block-title">Skills</h2>
    <button onclick="toggleEditSkills()" class="edit-button add">+</button>
    {% include 'applicant/VirtualCV/skills_view.html' %}
    {% include 'applicant/VirtualCV/skills_edit.html' %}
    
{% endblock %}
