{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Nestor</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <link rel="icon" type="image/x-icon" href="{% static 'images/Nestor_logo.png' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;500;600;700&family=Inter:wght@100..900&display=swap" rel="stylesheet">
        {% block additionalStyles %}
        {% endblock %}
    </head>
    <body>
        {% include 'navigation_bar.html' %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <div class="footer-container">
                <div><h2>Nestor</h2></div>
                <div><p>nestor@nestor.is</p></div>
                <div><p>581-2345</p></div>
            </div>
        </footer>
    </body>
</html>
