html, body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

* {
	margin: 0;
	font-family: Inter, Arial, sans-serif;
}

main {
	background-color: #F5F5F2;
	padding: 35px 10vw;
	height: 100%;
	flex: 1;
}

footer {
	margin-top: auto;
	height: 100px;
    background-color: #363841;
	color: #FFFFFF;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 10vw;
}

footer h2 {
	font-size: 2rem;
	font-family: Inria Sans, sans-serif;
	font-weight: 500;
}

.hidden {
	display: none;
}

button:hover {
	cursor: pointer;
}

.no-data-found {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.no-data-found img {
	height: 100px;
	width: 100px;
}