body {
	background-color: #F5F5F2;
}

p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.all_jobs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


@media (max-width: 930px) {
	.all_jobs {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 590px) {
	.all_jobs {
		grid-template-columns: repeat(1, 1fr);
	}
}

.all_jobs a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

.job_card {
	border-radius: 10px;
	background-color: white;
	display: grid;
	grid-template-rows: 100px 20px 20px;
	gap: 10px;
	padding: 15px;
}

.job_container_row {
	display: grid;
	grid-template-columns: 75% 25%;
	overflow: hidden;
}

.job_container_row p {
	margin: 0px;
}

.company_image_container {
	display: flex;
	align-items: center;
}

.job_container_right_column {
	display: flex;
	justify-content: end;
}

.company_image_container img {
	width: 170px;
}

.heart_image {
	width: 30px;
	height: 30px;
}
