.navbar {
	background-color: #363841;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
}

.nav_content_container {
	margin: 10px 10vw;
}

.uppernav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 15px;
}

.uppernav a {
	color: inherit;
	text-decoration: none;
}

.left * {
	padding-right: 5vw;
	font-size: 1.1rem;
	font-weight: 600;
}

.subnav h6 {
	font-size: 1rem;
	font-weight: 500;
	margin-right: 50px;
}

.left,
.logged-in,
.right {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.subnav {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

#logo {
	font-size: 2rem;
	font-family: Inria Sans, sans-serif;
	font-weight: 500;
}

.right button {
	color: #FFF;
	border-radius: 10px;
	width: 110px;
	height: 35px;
	font-size: 0.8rem;
}

#register-btn {
	background-color: #363841;
	border: solid 1px #F5F5F2;
}

#login-btn {
	background-color: #4AA587;
	border: none;
	margin-left: 25px;
}

/*This is for styling and animation for the chevron dropdown*/
.chevron {
	box-sizing: border-box;
	position: absolute;
	top: 42px;
	right: 5px;
	display: block;
	transform: scale(var(--ggs, 1));
	width: 22px;
	height: 22px;
	border: 2px solid transparent black;
	border-radius: 100px;
	transform: translate(-5px, -5px) rotate(45deg);
	z-index: 5;

}

.logged-in .chevron::after,
.logged-in .chevron::before {
	background-color: #F5F5F2;
}

.chevron::after,
.chevron::before {
	position: absolute;
	content: '';
	display: inline-block;
	width: 12px;
	height: 2px;
	background-color: #363841;
	transition: 0.4s ease;
}


.chevron::after {
	position: absolute;
	transform: rotate(90deg);
	top: -5px;
	left: 5px;
}

.chevron.active {
	&::before {
		position: absolute;
		transform: translate(5px, -5px);
	}

	&::after {
		position: absolute;
		transform: rotate(90deg) translate(5px, 5px);
		;
	}
}

.logged-in .chevron {
	right: 0px;
	top: 35px;
}


#profile-dropdown {
	background: #FFF;
	border-radius: 10px;
	width: 170px;
	position: fixed;
	top: 60px;
	right: 140px;
	z-index: 100;
	display: flex;
	flex-direction: column;
	padding: 5px 0px;
}

#profile-dropdown a {
	font-weight: 500;
	height: 25px;
	margin: 0px 7px;
	color: #363841;
	border-bottom: #74788B solid 0.01px;
	padding-top: 3px;
	font-size: 0.9rem;
}

#profile-dropdown :last-child {
	border: none;
}
