/* * { */
/* 	margin: 0; */
/* 	font-family: Inter, Arial, sans-serif; */
/* } */

.navbar {
	background-color: #363841;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
}

.nav_content_container {
	margin: 10px 10vw;
}

.uppernav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 15px;
}

.uppernav a {
	color: inherit;
	text-decoration: none;
}

.left * {
	padding-right: 5vw;
	font-size: 1.1rem;
	font-weight: 600;
}

.subnav h6 {
	font-size: 1rem;
	font-weight: 500;
	margin-right: 50px;
}

.left,
.logged-in,
.right {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.subnav {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

#logo {
	font-size: 2rem;
	font-family: Inria Sans, sans-serif;
	font-weight: 500;
}

.right button {
	color: #FFF;
	border-radius: 10px;
	width: 110px;
	height: 35px;
	font-size: 0.8rem;
}

#register-btn {
	background-color: #363841;
	border: solid 1px #F5F5F2;
}

#login-btn {
	background-color: #4AA587;
	border: none;
	margin-left: 25px;
}




main {
	background-color: #F5F5F2;
	padding: 35px 10vw;
}

#searchbar-title {
	color: #363841;
	font-size: 2rem;

}

.searchbar-filters {
	display: flex;
	justify-content: space-between;

}

.searchbar input {
	border: solid 1px #363841;
	border-radius: 8px;
	height: 30px;
}

.search-container {
	width: 30%;
	display: flex;
	position: relative;
}

.searchbar-filters input {
	width: 100%;
	margin-top: 20px;
}

/*This is for styling and animation for the chevron dropdown*/
.chevron {
	box-sizing: border-box;
	position: absolute;
	top: 42px;
	right: 5px;
	display: block;
	transform: scale(var(--ggs, 1));
	width: 22px;
	height: 22px;
	border: 2px solid transparent black;
	border-radius: 100px;
	transform: translate(-5px, -5px) rotate(45deg);
	z-index: 5;

}

.search-container .chevron {
	top: 42px;
	right: 7px;
}

.logged-in .chevron::after,
.logged-in .chevron::before {
	background-color: #F5F5F2;
}

.chevron::after,
.chevron::before {
	position: absolute;
	content: '';
	display: inline-block;
	width: 12px;
	height: 2px;
	background-color: #363841;
	transition: 0.4s ease;
}


.chevron::after {
	position: absolute;
	transform: rotate(90deg);
	top: -5px;
	left: 5px;
}

.chevron.active {
	&::before {
		position: absolute;
		transform: translate(5px, -5px);
	}

	&::after {
		position: absolute;
		transform: rotate(90deg) translate(5px, 5px);
		;
	}
}

.logged-in .chevron {
	right: 0px;
	top: 35px;
}

::placeholder {
	opacity: 1;
	color: #363841;
	font-weight: 600;
}


#search-btn {
	color: #F5F5F2;
	border-radius: 10px;
	width: 110px;
	height: 35px;
	font-size: 0.8rem;
	background-color: #4AA587;
	width: 30%;
}

#job-search-container {
	width: 60%;
	display: flex;
	position: relative;
}

.searchbar-search {
	display: flex;
	justify-content: space-between;
	margin: 20px 0px;
}

#search-jobname {
	width: 100%;
}

#job-search-container img {
	position: absolute;
	right: 8px;
	top: 6px;
	width: 22px;
	height: 22px;
}

.searchbar-extras {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

#sort-btn-container {
	position: relative;
	display: flex;
	flex-direction: row;
}

#sort-btn {
	width: 130px;
	height: 42px;
	text-align: left;
	padding-left: 28px;
	border-radius: 10px;
	background-color: #363841;
	color: #F5F5F2;
	font-weight: 600;
}

#sort-chevron {
	position: absolute;
	top: 25px;
	right: 12px;
}

#sort-chevron::after,
#sort-chevron::before {
	background-color: #F5F5F2;
}

#checkbox-container {
	display: flex;
	position: relative;
	padding-left: 35px;
}

#checkbox-container label {
	margin-left: 10px;
	font-weight: 600;
	font-size: 0.9rem;
	color: #363841;
}

#checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #D9D9D9;
}

#checkbox-container:hover input~.checkmark {
	background-color: #ccc;
}

#checkbox-container:input:checked~.checkmark {
	background-color: red;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
#checkbox-container input:checked~.checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
#checkbox-container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid black;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

#profile-dropdown {
	background: #FFF;
	border-radius: 10px;
	width: 170px;
	position: fixed;
	top: 60px;
	right: 140px;
	z-index: 100;
	display: flex;
	flex-direction: column;
	padding: 5px 0px;
}

#profile-dropdown a {
	font-weight: 500;
	height: 25px;
	margin: 0px 7px;
	color: #363841;
	border-bottom: #74788B solid 0.01px;
	padding-top: 3px;
	font-size: 0.9rem;
}

#profile-dropdown :last-child {
	border: none;
}

.hidden {
	display: none;
}
