.hidden {
	display: none;
}

.black_block {
	position: relative;
	border: 1px solid #363841;
	background-color: #363841;
	color: #F5F5F2;
	border-radius: 0.5rem;
	padding: 1rem 2rem;
	margin: 0.0rem 2rem 1rem 2rem;
	width: 90%;
}

.contact-info {
	position: relative;
	color: #363841;
	border-radius: 0.5rem;
	/* padding: 1rem 2rem; */
	/* display: inline-block; */
	/* margin: 0.0rem 2rem 1rem 2rem; */
	width: 100%;
}

.contact-container {
	display: flex;
	justify-content: space-between;
}

.contact-right {
	width: 65%;
}

.CV-block-title {
	margin-top: 2rem;
	margin-bottom: 0.4rem;
	margin-left: 7%;
	display: inline-block;
}

.profile-container {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.profile-image {
	border-radius: 5%;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.edit-button {
	border: none;
	background-color: #4AA587;
	color: #F5F5F2;
	border-radius: 0.5rem;
	padding: 0.4rem 1rem;
	position: absolute;
	right: 3.5rem;
	cursor: pointer;
}

.remove-button {
	border: none;
	background-color: #F5F5F2;
	border-radius: 0.5rem;
	width: 1.7rem;
	position: absolute;
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
	right: 1rem;
}

.add {
	border: none;
	background-color: #4AA587;
	color: #F5F5F2;
	border-radius: 50%;
	position: absolute;
	display: inline-block;
	right: 85%;
	padding: 0.0rem 0.3rem 0.1rem 0.3rem;
	font-size: 1rem;
	font-weight: bold;
	margin-top: 2.2rem;
}

.profile-data-block {
	width: 44%;
	/* display: inline-block; */
	margin-bottom: 0.5rem;
	/* min-width: 12rem; */
}

.profile-data {
	background-color: #EDEAEA;
	color: #363841;
	border-radius: 0.3rem;
	padding: 0.4rem 0.0rem 0.4rem 0.4rem;
}

.profile-data-label {
	font-weight: bold;
	font-size: 0.9rem;
	padding-top: 0.5rem;
	padding-bottom: 0.2rem;
}

.profile-data-input {
	color: #363841;
	border-radius: 0.3rem;
	padding: 0.4rem 0.0rem 0.4rem 0.4rem;
	font-size: 1rem;
	width: 100%;
	box-sizing: border-box;
}

.profile-data-select {
	color: #363841;
	border-radius: 0.3rem;
	padding: 0.4rem 0.0rem 0.4rem 0.4rem;
	width: 100%;
}

#contactable {
	display: inline-block;
}

.bio {
	@extend .profile-data;
	width: 100%;
	height: 4rem;
	overflow: auto;
}


.bio-input {
	@extend .profile-data-input;
	width: 99%;
	height: 4rem;
	overflow: auto;
}

.black_block_white_subsection {
	color: #363841;
	background-color: #F5F5F2;
	border-radius: 0.5rem;
	padding: 1rem 2rem;
	margin: 1rem 0.0rem 0.5rem 0.0rem;
}

.skill_selection {
	position: relative;
	justify-content: space-between;
	border: 1px solid #363841;
	width: 20%;
	min-width: 12rem;
	display: flex;
	/* display: inline-block; */
	margin-right: 1.5rem;
	/* margin-bottom: 0.3rem; */
	border-radius: 0.3rem;
	padding: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.delete-skill {
	border: none;
	position: absolute;
	right: 0.0rem;
	top: 0.0rem;
	display: inline-block;
	background-color: #EDEAEA;
	border-radius: 0.4rem;
	width: 1.6rem;
	height: 1.6rem;
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}


.add-skill {
	border: none;
	background-color: #4aa587;
	border-radius: 0.4rem;
	width: 40px;
	padding: 0px;
	color: #FFF;
	font-size: 1.5rem;
	font-weight: 700;
}

.add-skill:hover {
	cursor: pointer;
}

.new-skill {
	position: relative;
	display: flex;
	width: 20%;
	margin-top: 10px;
	/* width: 16%; */
	/* min-width: 10rem; */
}

.skills-container {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	margin-top: 15px;
}

.new-skill-container {
	width: 100%;
}

.skill-select {
	position: relative;
	color: #363841;
	border-radius: 0.3rem;
	padding: 0.4rem 0.0rem 0.4rem 0.4rem;
	margin-right: 0.5rem;
	width: 100%;
	z-index: 1;
}

.horizontal-input {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.date-input {
	width: 44%;
}

.hide-overflow {
	overflow: hidden;
}

.margin-top {
	margin-top: 15px;
}


.profile-data-block-three {
	width: 30%;
}

.flex-bottom {
	align-self: flex-end;
}

.flex {
	display: flex;
}
