{% extends 'base.html' %}
{% load static %}
{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'css/company_cards.css' %}" />
{% endblock additionalStyles %}

{% block content %}
    {% include 'company/searchbar.html' %}
    {% if companies %}
    <div id="all-companies" class="all_companies">
        {% for company in companies %}
            {% include 'company/single_company.html' with companies=companies %}
        {% endfor %}
    </div>
    {% else %}
    <div class="no-data-found">
        <img src="{% static 'images/Nestor_logo.png'%}">
        <h2>No companies found, try editing your search</h2>
    </div>
    {% endif %}
{% endblock %}
