{% load static %}
<a id="{{ company.id }}" data-company="{{ company.name }}" href="/companies/{{ company.id }}">
    <div class="company_card">
        <div class="company_container_row">
            <div class="company_image_container"><img class="company_image" src="{{ company.logo }}" alt=""></div>
        </div>
        <div class="company_container_row">
            <p>{{ company.name }}</p>
            <div class="info_container"><img src="{% static 'images/phone_icon.png'%}" alt=""><p>{{ company.phone }}</p></div>
        </div>
        <div class="company_container_row">
            <p>{{ company.address }}</p>
            <div class="info_container"><img src="{% static 'images/mail_icon.png'%}" alt=""><p>{{ company.email }}</p></div>
        </div>
    </div>
</a>
