{% load static %}
{% block additionalStyles %}
    <link rel="stylesheet" href="{% static "css/applicant_card.css" %}"/>
{% endblock %}
<div class="app_card">
    <div class="app_image_container">
        <img src="{{ applicant.applicant.profile_image }}" alt="">
    </div>
    <div class="app_card_info">
        <p>{{ applicant.applicant.full_name }}</p>
        <p>{{ applicant.education.degree }} - {{ applicant.education.level }}</p>
        <p>{{ applicant.experience.workplace_name }} - {{ applicant.experience.role }}</p>

    </div>
    <div class="app_card_info">
        <div class="info_container"><img src="static/images/phone.png" alt=""><p>{{ applicant.applicant.phone }}</p></div>
        <div class="info_container"><img src="images/location.png" alt=""><p>{{ applicant.applicant.address }}</p></div>
        <div class="info_container"><img src="images/mail_icon.png" alt=""><p>{{ applicant.applicant.email }}</p></div>
    </div>
</div>
