<div class="login-container">
    <div id="login-buttons-container">
        <button id="applicant-btn">Applicant</button>
        <button id="company-btn">Company</button>
    </div>
    <div id="applicant-view">
        <div id="top-inputs">
            <label for="ssn">Social security number
                <input id="ssn" type=text> 
            </label>
            <label for="full-name">Full name
                <input id="full-name" type=text> 
            </label>
        </div>
            <label for="mail">Mail</label>
            <input id="mail" type=text> 
            <label for="password">Password</label>
            <input id="password" type=password> 
            <label for="confirm-password">Confirm Password</label>
            <input id="confirm-password" type=password> 
        <button id="register-btn">Register</button>
    </div>
</div>
