{% extends 'base.html' %}
{% load static %}
{% block additionalStyles %}
<link rel="stylesheet" href="{% static "css/applicant_card.css" %}"/>
{% endblock %}
{% block content %}    

<div class="application-container">
    <div class="left-application">
        <div class="image-container">
            <img src="{{ application.applicant.profile_image }}" alt="profile image"/>
        </div>
        <div class="basic-info-section">
            <div>
                <img src="{% static '' %}"/>
                <span>{{ application.applicant.phone }} </span>
            </div
            <div>
                <img src="{% static '' %}"/>
                <span>{{ application.applicant.zipcode.city.name }} </span>
            </div
            <div>
                <img src="{% static '' %}"/>
                <span>{{ application.applicant.phone }} </span>
            </div


        </div>
        <div class="references-section">
        </div>

    </div>
    <div class="right-application">
        <h1>{{ application.applicant.full_name }}</h1>
        <div class="experience-section">

        </div>
        <div class="education-section">
        </div>
        <div class="skill-section">
        </div>
        <div class="cover-letter-section">
        </div>
    </div>
</div>
{% endblock %}
