{% load static %}
{% block additionalStyles %}
    <link rel="stylesheet" href="{% static 'css/job_cards.css' %}" />
{% endblock additionalStyles %}
<a href="/jobs/your_job_offers/{{ job.id }}">
    <div class="job_card">
        <div class="job_container_row">
            <div class="company_image_container"><img src="{{ job.company.logo }}"/></div>
        </div>
        <div class="job_container_row">
            <p>{{ job.name }}</p>
            <div class="job_container_right_column"><p>{{ job.percentage }}%</p></div>
        </div>
        <div class="job_container_row">
            {% if job.total_applicants  == 1 %}
            <p>{{ job.total_applicants }} applicant</p>
            {% else %}
            <p>{{ job.total_applicants }} applicants</p>
            {% endif %}
            {% if job.days_left == '1' or job.days_left == '-1' %}
            <div class="job_container_right_column"><p>{{ job.days_left }} day</p></div>
            {% else %}
            <div class="job_container_right_column"><p>{{ job.days_left }} days</p></div>
            {% endif %}
        </div>
    </div>
</a>
