{% load static %}
<div class="job_card">
    <div class="job_container_row">
        <div class="company_image_container"><img class="company_image" src="{% static 'images/download.png' %}" alt=""></div>
        <div class="job_container_right_column">
            <div><img class="heart_image" src="{% static 'images/heartoutline_110866.png'%}" alt=""></div>
        </div>
    </div>
    <div class="job_container_row">
        <p>{{ job.title }}</p>
        <div class="job_container_right_column"><p>{{ job.percentage }}%</p></div>
    </div>
    <div class="job_container_row">
        <p>{{ job.company }}</p>
        <div class="job_container_right_column"><p>{{ job.days }} days</p></div>
    </div>
</div>