{% load static %}
<div class="black_block" id="education/view/{{ education.education_id }}">
    <form id="deleteForm" method="post" action="applicant/remove_education">
        {% csrf_token %}
        <div class="btn-container">
            <input type="hidden" name="education_id" value="{{ education.education_id }}">
            <button type="submit" class="remove-button">X</button>
        </div>
    </form>
    <button onclick="toggleEditEducation({{ education.education_id }})" class="edit-button">edit</button>
    <div class="horizontal-input">
    <div class="profile-data-block-three">
        <p class="profile-data-label">School</p>
        <p class="profile-data">{{ education.education.school_name }}</p>
    </div>
    <div class="profile-data-block-three">
        <p class="profile-data-label">Degree</p>
        <p class="profile-data">{{ education.education.degree }}</p>
    </div>
    <div class="profile-data-block-three">
        <p class="profile-data-label">Level</p>
        <p class="profile-data">{{ education.education.level }}</p>
    </div>
    </div>
    <div class="horizontal-input">
    <div class="profile-data-block">
        <p class="profile-data-label">Start date</p>
        <p class="profile-data">{{ education.education.start_date }}</p>
    </div>
    <div class="profile-data-block">
        <p class="profile-data-label">End date</p>
        <p class="profile-data">{{ education.education.end_date }}</p>
    </div>
    </div>

    <div class="hide-overflow">
        <p class="profile-data-label">Degree description</p>
        {% autoescape off %}{{ education.education.description }}{% endautoescape %}
    </div>
</div>
