{% load static %}
<div class="black_block" id="experience/view/{{ experience.experience_id }}">
    <input type="image" id="remove-from-cv" onclick="removeExperience({{ experience.experience_id }})" class="remove-button" src="{% static 'images/remove_X.png' %}">
    <button onclick="toggleEditExperience({{ experience.experience_id }})" class="edit-button">edit</button>
    <br>
    <div class="profile-data-block" style="margin-right: 5%; width: 25%">
        <p class="profile-data-label">Company</p>
        <p class="profile-data">{{ experience.experience.workplace_name }}</p>
    </div>
    <div class="profile-data-block" style="margin-right: 5%; width: 25%">
        <p class="profile-data-label">Role</p>
        <p class="profile-data">{{ experience.experience.role }}</p>
    </div>
    <div class="profile-data-block" style="margin-right: 5%; width: 15%">
        <p class="profile-data-label">Start date</p>
        <p class="profile-data">{{ experience.experience.start_date }}</p>
    </div>
    <div class="profile-data-block" style="width: 15%">
        <p class="profile-data-label">End date</p>
        <p class="profile-data">{{ experience.experience.end_date }}</p>
    </div>

    <div style="overflow: hidden">
        <p class="profile-data-label">Job description</p>
        <br>
        <p class="profile-data bio">{{ experience.experience.description }}</p>
    </div>
</div>