{% load static %}
<div class="black_block" id="experience/view/{{ experience.experience_id }}">
    <form id="deleteForm" method="post" action="applicant/remove_experience">
        {% csrf_token %}
        <input type="hidden" name="experience_id" value="{{ experience.experience_id }}">
        <div class="btn-container">
        <button type="submit" class="remove-button">X</button>
        </div>
    </form>
    <button onclick="toggleEditExperience({{ experience.experience_id }})" class="edit-button">edit</button>
    <div class="horizontal-input">
        <div class="profile-data-block">
            <p class="profile-data-label">Company</p>
            <p class="profile-data">{{ experience.experience.workplace_name }}</p>
        </div>
        <div class="profile-data-block">
            <p class="profile-data-label">Role</p>
            <p class="profile-data">{{ experience.experience.role }}</p>
        </div>
    </div>
    <div class="horizontal-input">
        <div class="profile-data-block">
            <p class="profile-data-label">Start date</p>
            <p class="profile-data">{{ experience.experience.start_date }}</p>
        </div>
        <div class="profile-data-block">
            <p class="profile-data-label">End date</p>
            <p class="profile-data">{{ experience.experience.end_date }}</p>
        </div>
    </div>

    <div class="hide-overflow"> 
        <p class="profile-data-label">Job description</p>
        {% autoescape off %}{{ experience.experience.description }}{% endautoescape %}
    </div>
</div>
