{% load static %}
<div class="black_block hidden" id="reference/new">
    <form class="form form-horizontal" method="POST" action="applicant/reference_add">
        {% csrf_token %}
        <div class="horizontal-input">
            <input type="submit" class="edit-button" value="Add" />
        </div>
        <div class="horizontal-input">
            <div class="profile-data-block-three">
                <p class="profile-data-label">Full name</p>
                <input type="text" name="name" class="profile-data-input" required id="id_name">
            </div>
            <div class="profile-data-block-three">
                <p class="profile-data-label">Company</p>
                <input type="text" name="workplace_name" class="profile-data-input" required id="id_workplace_name">
            </div>
            <div class="profile-data-block-three">
                <p class="profile-data-label">Role</p>
                <input type="text" name="role" class="profile-data-input" required id="id_role">
            </div>
        </div>        
        <div class="horizontal-input">
            <div class="profile-data-block-three">
                <p class="profile-data-label">Email</p>
                <input type="text" name="email" class="profile-data-input" required id="id_email">
            </div>
            <div class="profile-data-block-three">
                <p class="profile-data-label">Phone</p>
                <input type="text" name="phone" class="profile-data-input" required id="id_phone">
            </div>
            <div class="profile-data-block-three flex-bottom flex">
                <input type="checkbox" name="is_contactable" class="profile-data" id="id_is_contactable">
                <p>Ask me before contacting</p>
            </div>
        </div>
    </form>
</div>
