{% load static %}
<div class="black_block hidden" id="skills/edit">
    {% for genre, skills in applicant_skills.items %}
    <div class="black_block_white_subsection">
        <h3>{{ genre }}</h3>
        <div class="skills-container">
            {% for skill in skills %}
            <div class="skill_selection">
                <h4>{{ skill }}</h4>
            </div>
            {% endfor %}
            <div class="new-skill">
                <form class="form form-horizontal flex new-skill-container" method="post" action="applicant/add_skill">
                    {% csrf_token %}
                    <select name="{{ genre.name }}" class="skill-select" required id="id_skill">
                        <option value=""></option>
                        {% for all_genre, all_skill in all_skills.items %}
                        {% if all_genre == genre %}
                {% for a_skill in all_skill %}
                <option value="{{ a_skill }}">{{ a_skill.name }}</option>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="+" id="add_skill_select" class="add-skill" src="{% static 'images/plus_icon.png' %}">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
