{% load static %}
<div class="white_block">
    <div class="horizontal-input">
        <div class="profile-data-block">
            <p class="profile-data-label">Full name</p>
            <p class="profile-data">{{ reference.reference.name }}</p>
        </div>
        <div class="profile-data-block">
            <p class="profile-data-label">Company</p>
            <p class="profile-data">{{ reference.reference.workplace_name }}</p>
        </div>
    </div>
    <div class="horizontal-input">
        <div class="profile-data-block">
            <p class="profile-data-label">Role</p>
            <p class="profile-data">{{ reference.reference.role }}</p>
        </div>
        <div class="profile-data-block">
            <p class="profile-data-label">Email</p>
            <p class="profile-data">{{ reference.reference.email }}</p>
        </div>
    </div>
    <div class="horizontal-input">
        <div class="profile-data-block">
            <p class="profile-data-label">Phone</p>
            <p class="profile-data">{{ reference.reference.phone }}</p>
        </div>
        <div class="checkbox-container">
            <p>Ask me before contacting</p>
            {% if reference.reference.is_contactable %}
            <input type="checkbox" class="profile-data" id="contactable" disabled checked>
            {% else %}
            <input type="checkbox" class="profile-data" id="contactable" disabled >
            {% endif %}
        </div>
    </div>
</div>
